[submodule "Engine"]
	path = Engine
	url = https://github.com/Jeb1232/pge.git
	branch = main
	
[submodule "Libraries/angelscript"]
	path = Libraries/angelscript
	url = https://github.com/Jeb1232/angelscript.git

[submodule "Libraries/freetype"]
	path = Libraries/freetype
	url = https://github.com/Jeb1232/freetype.git
	branch = master

[submodule "Libraries/tinyxml2"]
	path = Libraries/tinyxml2
	url = https://github.com/Jeb1232/tinyxml2.git
